<div class="players" style="text-align: center;">
  <div ng-repeat="you in players | limitTo: 1">
    <strong>{{you.name}}</strong>
    <br>
    <span ng-class="{red: you.cash <= 0}">${{you.cash}}</span>
    <br>
    <card ng-show="thinking || you.value" ng-repeat="card in you.cards" c-val="card"></card>
    <div ng-hide="thinking || you.value">
      <img src="img/cards/b1pl.png" alt="">
      <img src="img/cards/b1fv.png" alt="">
    </div>
    <span ng-show="you.won" style="color: green;">Won: {{you.won}}</span>
    <span ng-show="you.lost" style="color: red;">lost: {{you.lost}}</span>

    <div ng-show="thinking">
      <button ng-click="yes()">Yes</button>
      <button ng-click="no()">No</button>
    </div>
    <div ng-hide="thinking">
      <button ng-click="deal()">Deal</button>
    </div>
  </div>
  <div ng-repeat="player in players" ng-if="!$first">
    <strong>{{player.name}}</strong>
    <br>
    <span ng-class="{red: player.cash <= 0}">${{player.cash}}</span>
    <br>
    <card ng-show="player.value" ng-repeat="card in player.cards" c-val="card"></card>
    <div ng-show="player.cards.length > 0 && !player.value">
      <img src="img/cards/b1pl.png" alt="">
      <img src="img/cards/b1fv.png" alt="">
    </div>
    <span ng-show="player.won" style="color: green;">Won: {{player.won}}</span>
    <span ng-show="player.lost" style="color: red;">lost: {{player.lost}}</span>
  </div>
  <div>
    <strong>Deck</strong>
    <card ng-repeat="card in ghost.cards" c-val="card"></card>
  </div>
</div>

<div class="pot">
  ${{pot}}
</div>
