/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}
.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.players > div {
  position: absolute;
}
.players > div:first-child {
  left: 50%;
  top: 70%;
}
.players > div:nth-child(2) {
  left: 25%;
  top: 45%;
}
.players > div:nth-child(3) {
  left: 35%;
  top: 20%;
}
.players > div:nth-child(4) {
  right: 35%;
  top: 20%;
}
.players > div:nth-child(5) {
  right: 25%;
  top: 45%;
}
.players > div:last-child {
  left: 25%;
  top: 70%;
}
.pot {
  position: absolute;
  /*left: 51%;*/
  
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  font-size: 200%;
  width: 60px;
}
.red {
  color: red;
}
